node_modules/
.env
.env.local
.env.bak
*.env.bak
# backend/.tunnel.log
# backend/.tunnel.err.log
# backend/start-local-db-tunnel.ps1
# backend/stop-local-db-tunnel.ps1
ufs crm/dist/
others/hr form/dist/
*.log
backend/backend-log.txt
.DS_Store
backend/private-key.json
backend/credentials/
app-debug.apk
app-release.apk
*.apk
*.jpeg
*.jpg
feereceiptapp/
/whatsapp-crm/
shon/
*.aab
main.txt
emails.txt
razorypay.txt
client/assets/*.properties

tmp_schema.sql
aws/main.md